header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #98acf8;
    color: #fcf8ec;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

}
